
html,
body {
	padding: 0;
	margin: 0;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}
body * {
	font-size: 1.1rem;
}

body {
	background: var(--sec-color);
	color: #333;
	padding: 0.5rem;
}
a {
	color: #ccc;
}
a:hover {
	text-decoration: none;
}

button {
	outline: 0;
	border: 0;
}

p {
	margin: 0 0 1rem 0;	
}

.header,
.footer {
	text-align: center;
}

.footer__action {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.column .footer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}
.column .footer button {
	width: 100%;
	height: auto;
	background: rgb(0, 229, 255);
}
h1 {
	font-size: 2rem;
}

.column--output {
	padding: 0 2rem;
	overflow: auto;
}
.column textarea {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: auto;
	box-sizing: border-box;
	white-space: break-spaces;
	padding: 1rem 1.2rem;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

#output {
	white-space: break-spaces;
	padding: 2rem;
	border: 1px solid #fff;
}

.tweet__profile {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-size: contain;
}
.tweet__content {
	padding-top: 0.6rem;
	padding-bottom: 2rem;
	line-height: 1.6em;
	font-size: 2rem;
	position: relative;
	border-bottom: 1px solid var(--sec-color);
}
.tweet__content button {
	position: absolute;
	bottom: 2;
	right: 0;
}
.tweet__header {
	display: flex;
	justify-content: space-between;
}
.tweet__header em {
	margin-right: 1rem;
}

.tweet__content:before {
	content: '';
	display: block;
	background: var(--sec-color);
	width: 1px;
	height: 100%;
	position: absolute;
	top: 46px;
	left: -41px;
}

.tweet:last-child .tweet__content:before {
	height: 0;
}
